---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Cards.astro';
import Hero from '../components/Hero.astro';
import SpanCard from '../components/SpanCard.astro';
---

<Layout title="Portafolio WordPress">
	<main>
		<Hero/>
			<SpanCard/>
		
		<ul role="list" class="link-card-grid">
			<Card
				img='/borcelle.png'
				title="Borcelle Restaurant"
				href="http://anabelhm.byethost4.com/wp/home/"
				body="Sitio web hecho con WordPress y Elementor, lo cual consiste en una web de venta de pizzas. "
			/>
			<Card
				img='https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				img='https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
	}

</style>
