---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Cards.astro';
import Hero from '../components/Hero.astro';
import SpanCard from '../components/SpanCard.astro';
import InfoIcon from '../components/icons/info.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Portafolio WordPress">
	<main>
		<Hero/>
			<SpanCard/>
		
		<article role="list" class="my-12">
			<h1 class="text-white font-bold text-2xl my-2">Mis proyectos con WordPress</h1>
			<p class="text-gray-600 flex gap-x-2 items-center">
				<InfoIcon class="size-5" />
				Se recomienda abrir con navegador Chrome
			</p>
			<Card
				img='/borcelle.png'
				title="Borcelle Restaurant"
				href="http://anabelhm.byethost4.com/wp/home/"
				body="Elaborado con WordPress y Elementor, dos herramientas que  permitieron diseñar una plataforma dedicada a la venta de pizzas, maquetando un proyecto de Behance. "
			/>
		</article>
	</main>
	<Footer></Footer>
</Layout>

<style>
	main {
		margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
	}

</style>
