<div class="p-8 text-white my-5 bg-gray-800 rounded-md">
    <h3 class="font-semibold">Portafolio dev:</h3>
        <a href="https://anabelhumor.vercel.app/" target="_blank">Portafolio de Anabel Huanca Moreano </a>
</div>