---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="anabelHumor">
		<meta name="description" content="Portafolio WordPress" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow">
	<!-- OPEN GRAPH -->
	<meta property="og:title" content="Portafolio WordPress - Anabel Huanca Moreano @anabelhumor">
<!-- 	<meta property="og:image" content="/portafolio.JPG">
	<meta property="og:image:alt" content="Una captura de mi portafolio"> -->

		<title>{title}</title>
	</head>
	<body>
		
		<slot />
	</body>
</html>
<style is:global>
	:root{
		theme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
	}

	body{
		display: flex;
		flex-direction: column;
		height: 100vh;
		background-color: #00091d;
		
	}

</style>
